<a href="https://colab.research.google.com/github/damodhar92/Guvi-Tasks/blob/main/TASK_7%20DataPreprocessing_Assignment11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [33]:

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Step 2: Importing dataset**

In [34]:
df=pd.read_csv('Data.csv')

In [35]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [37]:
df.describe()

             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

In [38]:
df.shape

(10, 4)

**Step 3: Handling the missing data**

In [39]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [40]:
df.isnull()

   Country    Age  Salary  Purchased
0    False  False   False      False
1    False  False   False      False
2    False  False   False      False
3    False  False   False      False
4    False  False    True      False
5    False  False   False      False
6    False   True   False      False
7    False  False   False      False
8    False  False   False      False
9    False  False   False      False

Null Values filled with Mean

In [41]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [42]:
df['Age'].fillna(df['Age'].mean(),inplace=True)

In [43]:
df['Salary'].fillna(df['Salary'].mean(),inplace=True)

In [44]:
df.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

**Step 4: Encoding categorical data**

In [48]:
from sklearn.preprocessing import LabelEncoder

In [49]:
le=LabelEncoder()

In [50]:
df['country_label']=le.fit_transform(df['Country'])

In [52]:
df['purchased_label']=le.fit_transform(df['Purchased'])

In [53]:
df

   Country        Age        Salary Purchased  country_label  purchased_label
0   France  44.000000  72000.000000        No              0                0
1    Spain  27.000000  48000.000000       Yes              2                1
2  Germany  30.000000  54000.000000        No              1                0
3    Spain  38.000000  61000.000000        No              2                0
4  Germany  40.000000  63777.777778       Yes              1                1
5   France  35.000000  58000.000000       Yes              0                1
6    Spain  38.777778  52000.000000        No              2                0
7   France  48.000000  79000.000000       Yes              0                1
8  Germany  50.000000  83000.000000        No              1                0
9   France  37.000000  67000.000000       Yes              0                1

**Step 5: Creating a dummy variable**

**Step 6: Splitting the datasets into training sets and Test sets**

In [67]:
x=df[['Age','Salary','country_label']]
y=df['purchased_label']

In [68]:
from sklearn.model_selection import train_test_split

In [70]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=7)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(8, 3)
(2, 3)
(8,)
(2,)

**Step 7: Feature Scaling**

In [71]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [75]:
ss=StandardScaler()
scaling_df= ss.fit_transform(x_train)
scaling_df=pd.DataFrame(scaling_df,columns=['scaled_age','scaled_salary','scaled_country'])
scaling_df

   scaled_age  scaled_salary  scaled_country
0    0.963228       1.004127       -1.154701
1   -1.228496      -0.821046        0.000000
2   -1.698151      -1.429437        1.154701
3   -0.132634       0.497134       -1.154701
4    1.589435       1.713916       -1.154701
5    0.023918      -0.111257        1.154701
6    0.145680      -1.023843        1.154701
7    0.337021       0.170406        0.000000